*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container { 
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 28px
}
.f{
    display: flex;
    flex-wrap: wrap;
}
.body {
    background-image: url(main_bg7.jpg) ;
    background-position: center;
    background-size: cover;

}
.logo {
    display: block;
    width: 60%;
    margin: 0 auto ;
}
.ti {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    color: white;
    font-size: 26px;

}
   .i {
    display: flex;
    color: white; 
    flex-wrap: wrap;
    margin: 15px 0;
    justify-content: space-between;
   }
   .yyy{
    width: 49%;
     margin-bottom: 15px;
   }
   .m{
    width: 100%;
    margin-bottom: 15px;
   }
   .yyy label{
      display:block ;
      font-size: 20px;
     
     }
     .m label{
         display:block ;
     font-size: 20px;
     
     }
     .op{
        width: 49%;
        margin-bottom: 15px;
     }
     .yyy input,
     .m input,
     .op select {
        width: 100%;
        margin: 0 0 10px 0 ;
        padding: 7px;
        border-radius:5px ;
       
        appearance: none;
        
     }
     .uu input{
        width: 100%;
        color: white;
        margin: 20px 0;
        padding: 7px;
         font-size: 17px;
         background-color: rgba(40, 40, 224,0.7);
      border: 0;
     }
     .uu input:hover {
        background-color: rgba(95, 64, 145, 0.7);
         transition: 300ms;
         cursor:pointer;

     }

@media (max-width: 700px) {
  .logo,
  .container {
    min-width: 300px;
  }
  .yyy {
    width: 100%;
  }
  .i {
    max-height: 380px;
    overflow: scroll;
    scrollbar-width: none;
  }
}
@media (max-width: 415px) {
  .logo {
    min-width: 250px;
  }
}
@media (max-width: 375px) {
  .logo {
    min-width: 200px;
  }
}

